## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df.drop(['EIN','NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_type_value_counts[application_type_value_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts[classification_value_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(classification_value_counts[classification_value_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(['IS_SUCCESSFUL'], axis=1)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
X_train.shape

(25724, 43)

In [14]:
y_train.shape

(25724,)

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=512, activation="relu", input_shape=(X_train.shape[1],)))
nn.add(tf.keras.layers.Dense(units=256, activation="relu"))
nn.add(tf.keras.layers.Dense(units=128, activation="relu"))

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid")) 

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 512)               22528

 dense_1 (Dense)             (None, 256)               131328

 dense_2 (Dense)             (None, 128)               32896

 dense_3 (Dense)             (None, 1)                 129

=================================================================
Total params: 186,881
Trainable params: 186,881
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 5s 5ms/step - loss: 0.5679 - accuracy: 0.7225
Epoch 2/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5559 - accuracy: 0.7287
Epoch 3/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5537 - accuracy: 0.7299
Epoch 4/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5516 - accuracy: 0.7315
Epoch 5/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5497 - accuracy: 0.7324
Epoch 6/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5491 - accuracy: 0.7328
Epoch 7/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5482 - accuracy: 0.7331
Epoch 8/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5476 - accuracy: 0.7332
Epoch 9/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5470 - accuracy: 0.7342
Epoch 10/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5462 - accuracy: 0.7343
Epoch 11/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5457 - accuracy: 0.7348
Epoch 12/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5458 - accuracy: 0.7351
Epoch 13/150
804/804 [==============================] - 5s 6ms/step - loss: 0.5446 - accuracy: 0.7355
Epoch 14/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5447 - accuracy: 0.7358
Epoch 15/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5441 - accuracy: 0.7362
Epoch 16/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5434 - accuracy: 0.7363
Epoch 17/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5437 - accuracy: 0.7362
Epoch 18/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 19/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5429 - accuracy: 0.7371
Epoch 20/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5420 - accuracy: 0.7366
Epoch 21/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5423 - accuracy: 0.7372
Epoch 22/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5410 - accuracy: 0.7378
Epoch 23/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5406 - accuracy: 0.7377
Epoch 24/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5412 - accuracy: 0.7377
Epoch 25/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 26/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 27/150
804/804 [==============================] - 5s 6ms/step - loss: 0.5405 - accuracy: 0.7377
Epoch 28/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5402 - accuracy: 0.7372
Epoch 29/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5398 - accuracy: 0.7387
Epoch 30/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7389
Epoch 31/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5396 - accuracy: 0.7379
Epoch 32/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5387 - accuracy: 0.7385
Epoch 33/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 34/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5384 - accuracy: 0.7387
Epoch 35/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7388
Epoch 36/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5380 - accuracy: 0.7394
Epoch 37/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5379 - accuracy: 0.7389
Epoch 38/150
804/804 [==============================] - 6s 8ms/step - loss: 0.5371 - accuracy: 0.7389
Epoch 39/150
804/804 [==============================] - 6s 8ms/step - loss: 0.5378 - accuracy: 0.7389
Epoch 40/150
804/804 [==============================] - 5s 6ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 41/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5364 - accuracy: 0.7390
Epoch 42/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 43/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 44/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5372 - accuracy: 0.7394
Epoch 45/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7391
Epoch 46/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 47/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 48/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5361 - accuracy: 0.7388
Epoch 49/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7399
Epoch 50/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5357 - accuracy: 0.7398
Epoch 51/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 52/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7392
Epoch 53/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5371 - accuracy: 0.7398
Epoch 54/150
804/804 [==============================] - 5s 6ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 55/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5590 - accuracy: 0.7395
Epoch 56/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 57/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 58/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 59/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 60/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5338 - accuracy: 0.7402
Epoch 61/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 62/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7405
Epoch 63/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 64/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 65/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 66/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7403
Epoch 67/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 68/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 69/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 70/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 71/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 72/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7404
Epoch 73/150
804/804 [==============================] - 5s 6ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 74/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 75/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 76/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 77/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 78/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7403
Epoch 79/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 80/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 81/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 82/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5333 - accuracy: 0.7403
Epoch 83/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 84/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 85/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 86/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 87/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5372 - accuracy: 0.7403
Epoch 88/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 89/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 90/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5324 - accuracy: 0.7405
Epoch 91/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 92/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5607 - accuracy: 0.7407
Epoch 93/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7402
Epoch 94/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 95/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5334 - accuracy: 0.7410
Epoch 96/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 97/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5322 - accuracy: 0.7413
Epoch 98/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7413
Epoch 99/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7413
Epoch 100/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5326 - accuracy: 0.7403
Epoch 101/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 102/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7405
Epoch 103/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5326 - accuracy: 0.7405
Epoch 104/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5324 - accuracy: 0.7412
Epoch 105/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7405
Epoch 106/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5323 - accuracy: 0.7412
Epoch 107/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 108/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 109/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7401
Epoch 110/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5324 - accuracy: 0.7407
Epoch 111/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7410
Epoch 112/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5329 - accuracy: 0.7416
Epoch 113/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 114/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7413
Epoch 115/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 116/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 117/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5373 - accuracy: 0.7402
Epoch 118/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 119/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7411
Epoch 120/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 121/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 122/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7414
Epoch 123/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7409
Epoch 124/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 125/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7409
Epoch 126/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5339 - accuracy: 0.7409
Epoch 127/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5323 - accuracy: 0.7408
Epoch 128/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7413
Epoch 129/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5564 - accuracy: 0.7407
Epoch 130/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5473 - accuracy: 0.7410
Epoch 131/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7411
Epoch 132/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5308 - accuracy: 0.7415
Epoch 133/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5307 - accuracy: 0.7413
Epoch 134/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5313 - accuracy: 0.7408
Epoch 135/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5312 - accuracy: 0.7410
Epoch 136/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 137/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5311 - accuracy: 0.7409
Epoch 138/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5314 - accuracy: 0.7410
Epoch 139/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5320 - accuracy: 0.7405
Epoch 140/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7411
Epoch 141/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5312 - accuracy: 0.7408
Epoch 142/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7409
Epoch 143/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5313 - accuracy: 0.7411
Epoch 144/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5309 - accuracy: 0.7414
Epoch 145/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 146/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5320 - accuracy: 0.7407
Epoch 147/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 148/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7414
Epoch 149/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 150/150
804/804 [==============================] - 4s 6ms/step - loss: 0.5318 - accuracy: 0.7412

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6032 - accuracy: 0.7293 - 535ms/epoch - 2ms/step
Loss: 0.6032200455665588, Accuracy: 0.7293294668197632

In [19]:
# Export our model to HDF5 file
nn.save_weights('second_run.hdf5')